<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Stark Bank App </title>

</head>
<body>
    <h1>HELLO WORLD</h1>
    <h5>
        My name is <string>Idelfrid Jorge</string>, I am a Fullstack Python Developer.
    </h5>
    <hr>

    <h4>
    -------------------------------
            About this app
    -------------------------------
    </h4>

    <p> This project is the challenge to avaluate my skill as DEV  to  become part of Stark Bank company.  The challenge consist in : 1.  Issues 8 to 12 Invoices every 3 hours to random people for 24 hours (our Sandbox emulation environment will make sure some of those are automatically paid); 2. Receives the webhook callback of the Invoice credit and sends the received amount (minus eventual fees) to the following account using a Transfer .</p>
</body>
</html>